<form [formGroup]="form" (ngSubmit)="signup()">
    <div style="padding: 40px 0px">
        
        <h1 style="margin-bottom: 20px">Model-driven form practice</h1>
        
        <ng-content></ng-content>
        <div class="" style="padding: 40px 0px;">

            <!-- First Name -->
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="firstname" 
                    formControlName="firstname">
                <div *ngIf="form.controls.firstname.touched && form.controls.firstname.errors">
                    <div 
                        class="alert alert-danger"
                        *ngIf="form.controls.firstname.errors.required">    
                        First Name is required.
                    </div>
                    <div 
                        class="alert alert-danger" 
                        *ngIf="form.controls.firstname.errors.cannotContainNumber">
                        First Name cannot contain numbers.
                    </div>
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="lastname" 
                    formControlName="lastname">
                <div *ngIf="form.controls.lastname.touched && form.controls.lastname.errors">
                    <div 
                        class="alert alert-danger"
                        *ngIf="form.controls.lastname.errors.required">
                        Last Name is required.
                    </div>
                    <div 
                        class="alert alert-danger" 
                        *ngIf="form.controls.lastname.errors.cannotContainNumber">
                        Last Name cannot contain numbers.
                    </div>
                    <div 
                        class="alert alert-danger" 
                        *ngIf="form.controls.lastname.errors.cannotContainSpace">
                        Last Name cannot contain space.
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="email" 
                    formControlName="email">
                <div *ngIf="form.controls.email.touched && form.controls.email.errors">
                    <div 
                        class="alert alert-danger" 
                        *ngIf="!form.controls.email.errors.isEmailFormat">
                        Please enter your email.
                    </div>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    formControlName="password">
            </div>
            <div *ngIf="form.controls.password.touched && form.controls.password.errors">
                <div 
                    class="alert alert-danger"
                    *ngIf="form.controls.password.errors.required">
                    Password is required.
                </div>
                <div 
                    class="alert alert-danger" 
                    *ngIf="form.controls.password.errors.minlength">
                    Password length must have at least {{form.controls.password.errors.minlength.requiredLength}} characters.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
</form>